
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Lexend', sans-serif;
}body{	background: white;
	font: black;
	background-image: url("Imagens/m1.png");
	background-repeat: no-repeat;}
nav{

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999px;
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);   background-color: #5932be;
   padding: 30px 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
	
}
nav .logo a{
    text-decoration: none;    color: White;
    font-size: 35px;
    font-weight: 600;
	font-family: 'Lexend', sans-serif;
}
nav ul{
	font-family: Arial;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
	
}
nav li{
    margin-left: 7px;

}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
	background-color: none;
	border: none;
	cursor: pointer;
	
}
nav li a:hover{
    background-color: #9779ff;
	font-size: 24.7px;
	color: white;
}
.banner{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.corpo {
      max-width: 1000px;
      margin: auto;
      padding: 20px;
	  line-height: 1.6;
    }
	
.title {
	color: #6f1fbf;
}